<div class="mt-5">
  <button
    class="btn btn-primary d-flex align-items-center"
    (click)="handleAddOrEditUser(null)"
  >
    <mat-icon class="me-1">add</mat-icon>
    Add New User
  </button>
  <table class="table table-hover table-bordered mt-3">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Email</th>
        <th scope="col" class="text-center">First Name</th>
        <th scope="col" class="text-center">Last Name</th>
        <th scope="col" class="text-center">Address</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of listUsers; let i = index">
        <th class="text-center" scope="row">{{ i + 1 }}</th>
        <td class="text-center">{{ user.email }}</td>
        <td class="text-center">{{ user.firstName }}</td>
        <td class="text-center">{{ user.lastName }}</td>
        <td class="text-center">{{ user.address }}</td>
        <td class="text-center">
          <button
            class="btn btn-warning me-2"
            (click)="handleAddOrEditUser(user)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button class="btn btn-danger" (click)="handleDeleteUser(user)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
