<div class="container h-full m-auto">
    <h1 class="text-center text-cyan-700 pt-3" translate="admin.manage-doctor.title"></h1>
    <div class="grid grid-cols-2 gap-4">
        <div>
            <label translate="admin.manage-doctor.select_doctor"></label>
            <nz-select
                class="w-full"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="{{ 'admin.manage-doctor.select_doctor' | translate }}"
                [(ngModel)]="selectedDoctor"
                (ngModelChange)="handleSelectedDoctor($event)"
            >
                <nz-option
                    *ngFor="let doctor of listDoctors"
                    nzLabel="{{ language === 'vi' ? doctor.nameVi : doctor.nameEn }}"
                    nzValue="{{ doctor.id }}"
                ></nz-option>
            </nz-select>
        </div>
        <div>
            <label translate="admin.manage-doctor.introduction_info"></label>
            <textarea
                nz-input
                placeholder="{{ 'admin.manage-doctor.introduction_info' | translate }}"
                [(ngModel)]="description"
            ></textarea>
        </div>
    </div>

    <div class="more-info-extra grid grid-cols-3 gap-4 mt-3">
        <div>
            <label for="">{{ 'admin.manage-doctor.price' | translate }}</label>
            <nz-form-control>
                <nz-select [(ngModel)]="selectedPrice" nzPlaceHolder="{{ 'admin.manage-doctor.price' | translate }}">
                    <nz-option
                        *ngFor="let price of listPrice"
                        [nzLabel]="language === 'vi' ? price.valueVi + ' VNĐ' : price.valueEn + ' USD'"
                        [nzValue]="price.keyMap"
                    ></nz-option>
                </nz-select>
            </nz-form-control>
        </div>

        <div>
            <label for="">{{ 'admin.manage-doctor.payment' | translate }}</label>
            <nz-form-control>
                <nz-select
                    [(ngModel)]="selectedPayment"
                    nzPlaceHolder="{{ 'admin.manage-doctor.payment' | translate }}"
                >
                    <nz-option
                        *ngFor="let payment of listPayment"
                        [nzLabel]="language === 'vi' ? payment.valueVi : payment.valueEn"
                        [nzValue]="payment.keyMap"
                    ></nz-option>
                </nz-select>
            </nz-form-control>
        </div>

        <div>
            <label> {{ 'admin.manage-doctor.province' | translate }} </label>
            <nz-form-control>
                <nz-select
                    [(ngModel)]="selectedProvince"
                    nzShowSearch
                    nzPlaceHolder="{{ 'admin.manage-doctor.province' | translate }}"
                >
                    <nz-option
                        *ngFor="let province of listProvince"
                        [nzLabel]="language === 'vi' ? province.valueVi : province.valueEn"
                        [nzValue]="province.keyMap"
                    ></nz-option>
                </nz-select>
            </nz-form-control>
        </div>

        <nz-form-item>
            <nz-form-label> {{ 'admin.manage-doctor.nameClinic' | translate }} </nz-form-label>
            <nz-form-control>
                <input
                    nz-input
                    type="text"
                    placeholder="{{ 'admin.manage-doctor.nameClinic' | translate }}"
                    [(ngModel)]="nameClinic"
                />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>{{ 'admin.manage-doctor.addressClinic' | translate }} </nz-form-label>
            <nz-form-control>
                <input
                    nz-input
                    type="text"
                    placeholder="{{ 'admin.manage-doctor.addressClinic' | translate }}"
                    [(ngModel)]="addressClinic"
                />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label> {{ 'admin.manage-doctor.note' | translate }} </nz-form-label>
            <nz-form-control>
                <input
                    nz-input
                    type="text"
                    placeholder="{{ 'admin.manage-doctor.note' | translate }}"
                    [(ngModel)]="note"
                />
            </nz-form-control>
        </nz-form-item>
    </div>
    <div class="mt-1">
        <h2 class="mb-1 text-cyan-700 text-base !m-0" translate="admin.manage-doctor.detail_info"></h2>
        <span class="mb-2 text-red-600 text-base">
            {{ 'admin.manage-doctor.guide_1' | translate }}
        </span>
        <br />
        <span class="text-danger mt-1">
            {{ 'admin.manage-doctor.guide_2' | translate }}
            <a target="_blank" href="https://stackedit.io/app#" class="text-blue-500">
                {{ 'admin.manage-doctor.guide_3' | translate }}
            </a>
        </span>
        <div class="grid grid-cols-2 mt-3 gap-6">
            <textarea
                nz-input
                class="rounded h-[400px] markdown-block text-lg"
                [(ngModel)]="markdown"
                placeholder="{{ 'admin.manage-doctor.guide_4' | translate }}"
            ></textarea>
            <div class="h-[400px] border border-gray-500 rounded overflow-auto">
                <markdown class="" [data]="markdown"></markdown>
            </div>
        </div>
    </div>
    <button
        class="btn {{ hasOldData ? 'btn-warning' : 'btn-primary' }} mt-2 w-[300px] mb-4"
        type="submit"
        (click)="submit()"
        translate="{{ hasOldData ? 'admin.manage-doctor.save' : 'admin.manage-doctor.add' }}"
    ></button>
</div>
