<div class="manage-specialty-container">
    <div class="ms-title text-center mt-[10px] uppercase text-[17px] font-semibold">Quản lí chuyên khoa</div>

    <div class="add-new-specialty grid grid-cols-2 gap-4 mt-5">
        <div>
            <label for="">Tên chuyên khoa</label>
            <input type="text" nz-input [(ngModel)]="name" />
        </div>

        <div class="flex flex-col">
            <label for="">Ảnh chuyên khoa</label>
            <input class="mt-1" type="file" (change)="handleImage($event)" />
        </div>
    </div>
    <div class="mt-3">
        <div>
            <h2 class="mb-1 text-cyan-700 text-base !m-0" translate="admin.manage-doctor.detail_info"></h2>
            <span class="mb-2 text-red-600 text-base">
                {{ 'admin.manage-doctor.guide_1' | translate }}
            </span>
            <br />
            <span class="text-danger mt-1">
                {{ 'admin.manage-doctor.guide_2' | translate }}
                <a target="_blank" href="https://stackedit.io/app#" class="text-blue-500">
                    {{ 'admin.manage-doctor.guide_3' | translate }}
                </a>
            </span>
        </div>
        <div class="grid grid-cols-2 mt-6 gap-6">
            <textarea
                nz-input
                class="rounded h-[400px] markdown-block text-lg"
                [(ngModel)]="descriptionMarkdown"
                placeholder="{{ 'admin.manage-doctor.guide_4' | translate }}"
            ></textarea>
            <div class="h-[400px] border border-gray-500 rounded overflow-auto">
                <markdown class="" [data]="descriptionMarkdown"></markdown>
            </div>
        </div>
    </div>

    <div class="mt-2">
        <button class="btn btn-primary" (click)="submit()">Save</button>
    </div>
</div>
