<h1 class="text-center text-success mt-3">CRUD USER</h1>

<div class="container">
  <h2 class="text-primary">{{ "manage_user.add" | translate }}</h2>
  <form class="row g-3" [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="col-md-3">
      <label class="form-label">{{ "manage_user.email" | translate }}</label>
      <input type="email" class="form-control" formControlName="email" />
    </div>
    <div class="col-md-3">
      <label class="form-label">{{ "manage_user.password" | translate }}</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>
    <div class="col-md-3">
      <label class="form-label">
        {{ "manage_user.first_name" | translate }}
      </label>
      <input type="text" class="form-control" formControlName="firstName" />
    </div>
    <div class="col-md-3">
      <label class="form-label">
        {{ "manage_user.last_name" | translate }}
      </label>
      <input type="text" class="form-control" formControlName="lastName" />
    </div>
    <div class="col-md-3">
      <label class="form-label">
        {{ "manage_user.phone_number" | translate }}
      </label>
      <input type="text" class="form-control" formControlName="phoneNumber" />
    </div>
    <div class="col-9">
      <label class="form-label">{{ "manage_user.address" | translate }}</label>
      <input type="text" class="form-control" formControlName="address" />
    </div>
    <div class="col-md-3">
      <label class="form-label">{{ "manage_user.gender" | translate }}</label>
      <select class="form-select" formControlName="gender">
        <option *ngFor="let gender of genderList" value="{{ gender.keyMap }}">
          {{ language === "vi" ? gender.valueVi : gender.valueEn }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <label class="form-label">{{ "manage_user.position" | translate }}</label>
      <select class="form-select" formControlName="position">
        <option
          *ngFor="let position of positionList"
          value="{{ position.keyMap }}"
        >
          {{ language === "vi" ? position.valueVi : position.valueEn }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <label class="form-label">{{ "manage_user.role" | translate }}</label>
      <select class="form-select" formControlName="role">
        <option *ngFor="let role of roleList" value="{{ role.keyMap }}">
          {{ language === "vi" ? role.valueVi : role.valueEn }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <label class="form-label">
        {{ "manage_user.image" | translate }}
      </label>
      <div class="preview-img-container">
        <label for="previewImg" class="btn btn-link">
          Tải ảnh
          <i class="fas fa-upload"></i>
        </label>
        <input
          type="file"
          class="form-control"
          id="previewImg"
          formControlName="avatar"
          hidden
          (change)="handleImage($event)"
        />
        <div
          class="preview-image"
          *ngIf="previewImgURL"
          [ngStyle]="{ 'background-image': 'url(' + previewImgURL + ')' }"
        ></div>
      </div>
    </div>
    <div class="d-flex justify-content-between col-12">
      <div class="d-flex align-items-center">
        <button
          type="submit"
          class="btn {{ isEdit ? 'btn-warning' : 'btn-primary' }}"
        >
          {{
            isEdit
              ? ("manage_user.edit" | translate)
              : ("manage_user.save" | translate)
          }}
        </button>
      </div>
      <span class="text-danger d-flex align-items-center" *ngIf="isEdit">
        Nếu thay đổi avatar. Vui lòng chọn ảnh có cùng định dạng đuôi
      </span>
    </div>
  </form>

  <div class="mt-5">
    <h2 class="text-primary">Danh sách người dùng</h2>
    <table class="table table-hover table-bordered mt-3">
      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">Email</th>
          <th scope="col" class="text-center">First Name</th>
          <th scope="col" class="text-center">Last Name</th>
          <th scope="col" class="text-center">Address</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of listUsers; let i = index">
          <th class="text-center" scope="row">{{ i + 1 }}</th>
          <td class="text-center">{{ user.email }}</td>
          <td class="text-center">{{ user.firstName }}</td>
          <td class="text-center">{{ user.lastName }}</td>
          <td class="text-center">{{ user.address }}</td>
          <td class="text-center">
            <button
              class="btn btn-link text-warning"
              (click)="handleEditUser(user)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              class="btn btn-link text-danger"
              (click)="handleDeleteUser(user)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <textarea class="col-md-6" [(ngModel)]="markdown"></textarea>
    <div class="h-markdown col-md-6">
      <markdown class="" [data]="markdown"></markdown>
    </div>
  </div>
  <div style="height: 50px"></div>
</div>
