<div>
    <app-header [isShowBanner]="false"></app-header>
</div>

<div class="container m-auto mt-20">
    <div class="doctor-detail-container my-0">
        <div class="intro-doctor flex">
            <div
                class="content-left bg w-[120px] h-[120px] rounded-full mx-5 my-2 bg-center bg-no-repeat bg-cover"
                [ngStyle]="{ 'background-image': 'url(' + detailDoctor.image + ')' }"
            ></div>
            <div class="content-right w-4/5 flex flex-col pl-2">
                <div class="up pt-4 text-xl font-semibold">
                    {{ language === 'vi' && positionList ? positionList.valueVi : positionList.valueEn }}:
                    {{ language === 'vi' ? detailDoctor.lastName : detailDoctor.firstName }}
                    {{ language === 'vi' ? detailDoctor.firstName : detailDoctor.lastName }}
                </div>
                <div class="down pt-2">
                    <span>
                        {{
                            detailDoctor && detailDoctor.Markdown && detailDoctor.Markdown.description
                                ? detailDoctor.Markdown.description
                                : ''
                        }}
                    </span>
                </div>
            </div>
        </div>
        <div class="schedule-doctor flex min-h-[200px] py-3">
            <div class="content-left w-[55%]">
                <app-doctor-schedule></app-doctor-schedule>
            </div>

            <div class="content-right w-[45%]"></div>
        </div>
        <div
            class="detail-info-doctor pt-5 px-4 bg-gray-200 mt-2 rounded"
            [innerHTML]="
                detailDoctor && detailDoctor.Markdown && detailDoctor.Markdown.contentHTML
                    ? detailDoctor.Markdown.contentHTML
                    : ''
            "
        ></div>
        <div class="comment-doctor h-[500px]"></div>
    </div>
</div>
