<div class="section-share section-about">
  <div class="section-about-header">Truyền thông nói về BookingCare</div>
  <div class="section-about-content">
    <div class="content-left">
      <iframe
        width="100%"
        height="400px"
        src="https://www.youtube.com/embed/25N1pdzvp4c?si=RPHHfcIVZe6VNyHF"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        class="rounded"
      ></iframe>
    </div>

    <div class="content-right">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
        aliquid mollitia quam labore harum nisi animi alias, repellendus soluta
        id explicabo voluptatum repellat incidunt natus voluptates accusantium
        culpa molestiae necessitatibus.
      </p>
    </div>
  </div>
</div>
