<div class="container">
  <div class="row">
    <form (ngSubmit)="submitForm()" [formGroup]="formGroup">
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button
            class="btn btn-outline-danger d-flex align-items-center"
            mat-dialog-close
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h1 class="col-12">Add New User</h1>

        <div class="form-group col-md-6">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Enter your email"
            formControlName="email"
            required
          />
        </div>

        <div class="form-group col-md-6">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            formControlName="password"
            required
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            name="firstName"
            placeholder="First Name"
            formControlName="firstName"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="lastName"
            placeholder="Last Name"
            formControlName="lastName"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="text"
          class="form-control"
          placeholder="Address"
          name="address"
          formControlName="address"
          required
        />
      </div>

      <div class="d-flex justify-content-between mt-2 align-items-center">
        <div class="text-danger">
          Please fill all the field to click {{ isEdit ? "Update" : "Add New" }}
        </div>
        <div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="formGroup.invalid"
          >
            {{ isEdit ? "Update" : "Add New" }}
          </button>
          <button
            type="button"
            class="btn btn-secondary ms-1"
            mat-button
            mat-dialog-close
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
