<div class="">
    <div class="flex justify-between border-b border-gray-400">
        <h2 class="!mb-0">Thông tin đặt lịch khám bệnh</h2>
        <div class="">
            <button mat-dialog-close class="hover:bg-red-500 flex items-center rounded hover:text-white">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="container m-auto my-3">
        <ng-container>
            <div class="">
                <app-doctor-profile
                    [profileDoctor]="dataProfileDoctor"
                    [isShowDescription]="false"
                    [dataTime]="dataTime"
                ></app-doctor-profile>
                <div *ngIf="dataProfileDoctor.Doctor_Info">
                    Giá khám:
                    {{
                        language === 'vi'
                            ? dataProfileDoctor.Doctor_Info.priceData.valueVi + ' VNĐ'
                            : dataProfileDoctor.Doctor_Info.priceData.valueEn + ' USD'
                    }}
                </div>
            </div>
        </ng-container>
        <form class="grid grid-cols-2 gap-4">
            <div>
                <label for="">Họ tên</label>
                <input type="text" nz-input />
            </div>
            <div>
                <label for="">Số điện thoại</label>
                <input type="text" nz-input />
            </div>
            <div>
                <label for="">Email</label>
                <input type="text" nz-input />
            </div>
            <div>
                <label for="">Địa chỉ liên hệ</label>
                <input type="text" nz-input />
            </div>
            <div class="col-span-2">
                <label for="">Lý do khám</label>
                <input type="text" nz-input />
            </div>
            <div>
                <label for="">Ngày sinh</label>
                <input type="text" nz-input />
            </div>
            <div>
                <label for="">Giới tính</label>
                <input type="text" nz-input />
            </div>
            <div class="h-[50px]"></div>
        </form>
    </div>
    <div class="border-t border-gray-400">
        <div class="flex justify-end mt-3">
            <button class="btn btn-primary mr-2">Xác nhận</button>
            <button mat-dialog-close class="btn btn-warning">Thoát</button>
        </div>
    </div>
</div>
