<div class="section-share section-specialty">
    <div class="section-container">
        <div class="section-header mt-12">
            <div class="title-section">{{ 'homepage.speciality_popular' | translate }}</div>
            <div class="btn-section">{{ 'homepage.more_info' | translate }}</div>
        </div>
        <div class="section-body">
            <swiper [config]="configSlide">
                <ng-template swiperSlide *ngFor="let specialty of listSpecialty">
                    <div class="section-customize cursor-pointer hover:text-[#45c3d2]">
                        <div
                            class="bg-image section-specialty"
                            [ngStyle]="{ 'background-image': 'url(' + specialty.image + ')' }"
                        ></div>
                        <div class="py-[10px] text-center text-[16px] font-[500]">{{ specialty.name }}</div>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>
</div>
