<div class="section-share section-specialty">
  <div class="section-container">
    <div class="section-header">
      <div class="title-section">Chuyên khoa phổ biến</div>
      <div class="btn-section">Xem thêm</div>
    </div>
    <div class="section-body">
      <swiper [config]="configSlide">
        <ng-template swiperSlide>
          <div class="section-customize">
            <div class="bg-image section-specialty"></div>
            <div>Cơ xương khớp 1</div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="section-customize">
            <div class="bg-image section-specialty"></div>
            <div>Cơ xương khớp 2</div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="section-customize">
            <div class="bg-image section-specialty"></div>
            <div>Cơ xương khớp 3</div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="section-customize">
            <div class="bg-image section-specialty"></div>
            <div>Cơ xương khớp 4</div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="section-customize">
            <div class="bg-image section-specialty"></div>
            <div>Cơ xương khớp 5</div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="section-customize">
            <div class="bg-image section-specialty"></div>
            <div>Cơ xương khớp 6</div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
