<div class="section-share section-handbook">
  <div class="section-container">
    <div class="section-header">
      <div class="title-section">Cẩm nang</div>
      <div class="btn-section">Xem thêm</div>
    </div>
    <div class="section-body">
      <swiper [config]="configSlide">
        <ng-template swiperSlide>
          <div class="section-customize">
            <div class="bg-image section-handbook"></div>
            <div>Hệ thống Việt Đức 1</div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="section-customize">
            <div class="bg-image section-handbook"></div>
            <div>Hệ thống Việt Đức 2</div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="section-customize">
            <div class="bg-image section-handbook"></div>
            <div>Hệ thống Việt Đức 3</div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="section-customize">
            <div class="bg-image section-handbook"></div>
            <div>Hệ thống Việt Đức 4</div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="section-customize">
            <div class="bg-image section-handbook"></div>
            <div>Hệ thống Việt Đức 5</div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="section-customize">
            <div class="bg-image section-handbook"></div>
            <div>Hệ thống Việt Đức 6</div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
