<ng-container *ngIf="profileDoctor">
    <div class="intro-doctor flex">
        <div
            *ngIf="profileDoctor.image"
            class="content-left bg w-[100px] h-[100px] rounded-full mr-5 my-2 bg-center bg-no-repeat bg-cover"
            [ngStyle]="{ 'background-image': 'url(' + profileDoctor.image + ')' }"
        ></div>

        <div class="content-right w-4/5 flex flex-col pl-2">
            <div class="up pt-4 text-xl font-semibold">
                {{ nameDoctor }}
            </div>
            <div class="down pt-2">
                <span *ngIf="isShowDescription">
                    {{
                        profileDoctor.Markdown && profileDoctor.Markdown.description
                            ? profileDoctor.Markdown.description
                            : ''
                    }}
                </span>

                <ng-container *ngIf="dataTime">
                    <div *ngIf="timeSchedule && daySchedule">{{ timeSchedule }} - {{ daySchedule }}</div>
                    <div class="mt-1">{{ 'patient.booking-modal.freeBooking' | translate }}</div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>
