.header-container {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0071ba;
  color: #fff;
  height: 40px;
  position: relative;
  .btn-logout {
    color: #fff;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    &:hover {
      background-color: darken(#0071ba, 5);
    }
    i {
      font-size: 16px + 1px;
    }
  }
}
