<div
  class="flex items-center justify-between bg-sky-600 text-white h-10 z-[99] relative"
>
  <div class="flex items-center">
    <div class="p-2 border-e" *ngFor="let menuList of adminMenu">
      <a nz-dropdown [nzDropdownMenu]="menu" class="text-white">
        {{ menuList["name"] | translate }}
        <span nz-icon nzType="down"></span>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item *ngFor="let menuItem of menuList['menus']">
            <a routerLink="{{ menuItem.link }}">
              {{ menuItem.name | translate }}
            </a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <div class="flex items-center">
    <div class="user-info mr-2">
      {{ "home_header.welcome" | translate }},
      {{ userInfo && userInfo.firstName ? userInfo.firstName : "" }}
    </div>
    <div class="languages">
      <app-language-selector></app-language-selector>
    </div>
    <button
      nz-button
      nzType="default"
      class="p-1 ml-2 mr-3"
      nz-tooltip
      nzTooltipTitle="Logout"
      (click)="onLogout()"
    >
      <i nz-icon nzType="logout" nzTheme="outline"></i>
    </button>
  </div>
</div>

<div class="m-auto container">
  <router-outlet></router-outlet>
</div>
