// @import "~@fortawesome/fontawesome-free/scss/light";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

// tailwind
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// custom styles
@import './/app/core/styles/button.scss';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

ul {
    list-style: disc;
    margin-bottom: 14px;
    padding-left: 40px;
}
